<div class="login-container">
  <div class="login-container__inner">
    <div class="login-container__header">
    </div>
    <form class="login-form">
      <mat-form-field appearance="fill" class="login-form__field">
        <mat-label>Email</mat-label>
        <input matInput type="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-form__field">
        <mat-label>Senha</mat-label>
        <input matInput type="password" required>
      </mat-form-field>
    </form>
    
  <app-bottons-login></app-bottons-login>
</div>
